<h1>Countries Table using APIs:</h1>
<input type="text" [(ngModel)]="searchText" placeholder="Search...">
<table *ngIf="(countries | filter: searchText).length >0; else noResults">
  <thead>
    <tr>
      <th>#</th>
      <th>Country</th>
      <th>Short form</th>
      <th>No of states</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries | filter: searchText ; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{ country.name }}</td>
      <td>{{ country.iso3 }}</td>
      <td>{{ country.states.length }}</td>
    </tr>
  </tbody>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>